body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}






.medicine-template,
.medicine-types-info,
.admin-test-info,
.admin-notifications{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 130px;
    background-color: rgba(11, 164, 235, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
    font-size: 20px;
    transition: background-color 0.2s;
    overflow: hidden;
}
.medicine-template{
    bottom: 70px;
    background-color: rgba(47, 0, 255, 0.5);
}
.medicine-template:hover{
    background-color: rgba(47, 0, 255, 1);
}
.medicine-types-info{
    bottom: 250px;
    background-color: rgba(55, 235, 85, 0.5);
}
.medicine-types-info:hover{
    background-color: rgba(55, 235, 85, 1);
}
.admin-test-info{
    bottom: 190px;
    background-color: rgba(88, 175, 6, 0.5);
}
.medicine-types-info::after,
.admin-test-info:after,
.admin-notifications:after{
    content: '+';
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 200%;
    height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    rotate: 45deg;
    scale: 0;
    transition: 0.5s;
}
.medicine-types-info.show:after,
.admin-test-info.show:after,
.admin-notifications.show:after{
    scale: 1;
}
.admin-notifications.active-dot::before{
    content: attr(data-count);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    font-size: 12px;
    font-family: poppins-bold;
    border-radius: 50%;
}
.admin-notifications:hover{
    background-color: rgba(11, 164, 235, 1);
}
.admin-test-info:hover{
    background-color: rgb(88, 175, 6);
}

.medicine-types-info::-webkit-scrollbar,
.expanded-tests::-webkit-scrollbar,
.expanded-notifications::-webkit-scrollbar{
    width: 15px;
}
.medicine-types-info::-webkit-scrollbar-track,
.expanded-tests::-webkit-scrollbar-track,
.expanded-notifications::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--fg);
}
.medicine-types-info::-webkit-scrollbar-thumb,
.expanded-tests::-webkit-scrollbar-thumb,
.expanded-notifications::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--neon-blue);
}

.expanded-medicine-types,
.expanded-tests,
.expanded-notifications{
    position: fixed;
    bottom: 70px;
    right: 70px;
    border-radius: 10px;
    background-color: var(--fg);
    width: 0px;
    min-width: 200px;
    height: 0px;
    z-index: 5;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    overflow: auto;
}
.expanded-medicine-types{
    bottom: 190px;
    right: 70px;
}
.expanded-medicine-types .types{
    width: 100%;
    height: fit-content;
    max-height: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: auto;
}
.expanded-medicine-types .types span{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--bg);
    background-color: rgba(173, 173, 173, 0.5);
    cursor: pointer;
    transition: 0.3s;
}
.expanded-medicine-types .types span label{
    cursor: pointer;
}
.expanded-medicine-types .types span svg{
    font-size: 20px;
}
.expanded-medicine-types .types span:hover{
    background-color: rgba(173, 173, 173, 1);
}
.expanded-medicine-types .types span:first-child{
    background-color: var(--clr);
    color: var(--fg);
}
.expanded-tests{
    bottom: 130px;
}
.expanded-tests button.add-new{
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--bg);
    border-radius: 10px;
    align-items: center;
}
.expanded-tests div:not(.controls){
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--bg);
    display: flex;
    width: calc(100% - 20px);
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}
.expanded-tests div.basic{
   border-left: 5px solid var(--neon-pink);
   width: calc(100% - 25px);
}
.expanded-tests div.controls{
    display: flex;
    gap: 5px;
    align-self: flex-end;
}
.expanded-tests div.controls button{
    width: 50px;
    height: 50px;
}

.medicine-types-info.show ~ .expanded-medicine-types,
.admin-test-info.show ~ .expanded-tests,
.admin-notifications.show ~ .expanded-notifications{
    display: flex;
    animation: expanded-notification-open-anim 0.5s linear forwards;
}
.expanded-notifications div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    color: var(--bg);
    background-color: rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px);
    border-radius: 10px;
}
.expanded-notifications div a{
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-end;
}
@keyframes expanded-notification-open-anim{
    0%{
        width: 0px;
        height: 0px;
    }100%{
        width: 50%;
        height: 50%;
    }
}











.cards{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    transform: translateY(50%);
    padding: 0px 20px;
}
.cards .card{
    position: relative;
    background-color: rgb(200, 200, 200);
    color: var(--bg);
    width: calc(250px - 30px);
    height: calc(120px - 30px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 15px;
    cursor: pointer;  
    transition: 0.3s;  
}
.cards .card.online::after{
    content: attr(data-online);
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--neon-pink);
    color: var(--fg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: poppins-bold;
    top: -15px;
    right: -15px;
}
.cards .card p:nth-child(1){
    font-size: 1.3em;
    font-family: poppins-bold;
    color: var(--neon-blue);
    position: relative;
}
.cards .card p:nth-child(2){
    font-size: 1.7em;
    font-family: poppins-bold;
}
.cards .card p:nth-child(1)::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 3px;
    background-color: var(--neon-blue);
    transform: scaleX(0);
    transition: 0.5s;
}
.cards .card:hover{
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
}
.cards .card:hover p:nth-child(1)::before{
    transform: scaleX(1);
}
.cards .card.active{
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
    background-color: var(--fg);
}
.cards .card.active p:nth-child(1)::before{
    transform: scaleX(1);
}










.main-container{
    margin-top: 100px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    width: calc(100% - 40px);
    padding: 20px 20px 40px 20px;
}
.main-container .offline-users,
.main-container .online-users{
    position: relative;
    width: calc(50% - 30px);
    min-width: calc(300px - 20px);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--clr);
    border-radius: 10px;
    overflow: hidden;
}
.main-container .offline-users .users,
.suspended-staff-container .users,
.main-container .online-users .users{
    width: calc(100% - 20px);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    overflow: auto;
}  
.main-container .offline-users .users .user,
.suspended-staff-container .users .user,
.main-container .online-users .users .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr);
    padding-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.main-container .offline-users .users .user div:first-child,
.suspended-staff-container .users .user div:first-child,
.main-container .online-users .users .user div:first-child{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-container .offline-users .users .user div:first-child::after,
.suspended-staff-container .users .user div:first-child::after,
.main-container .online-users .users .user div:first-child::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: 0.3s;
    z-index: -1;
    scale: 0;
}
.main-container .offline-users .users .user div:first-child:hover::after,
.suspended-staff-container .users .user div:first-child:hover::after,
.main-container .online-users .users .user div:first-child:hover::after{
    scale: 1;
}
.main-container .offline-users .users .user div:nth-child(2),
.suspended-staff-container .users .user div:nth-child(2),
.main-container .online-users .users .user div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.main-container .offline-users .users .user div:nth-child(2) span:nth-child(2),
.suspended-staff-container .users .user div:nth-child(2) span:nth-child(2),
.main-container .online-users .users .user div:nth-child(2) span:nth-child(2){
    background-color: red;
}
.main-container .offline-users .users .user div:nth-child(2) span,
.suspended-staff-container .users .user div:nth-child(2) span,
.main-container .online-users .users .user div:nth-child(2) span{
    width: 40px;
    height: 40px;
    background-color: var(--clr);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
.main-container .offline-users .users::-webkit-scrollbar,
.suspended-staff-container .users::-webkit-scrollbar,
.main-container .online-users .users::-webkit-scrollbar{
    width: 15px;
}
.main-container .offline-users .users::-webkit-scrollbar-thumb,
.suspended-staff-container .users::-webkit-scrollbar-thumb,
.main-container .online-users .users::-webkit-scrollbar-thumb{
    background-color: var(--clr);
    border-radius: 5px;
}
.main-container .offline-users .users::-webkit-scrollbar-track,
.suspended-staff-container .users::-webkit-scrollbar-track,
.main-container .online-users .users::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: var(--fg);
}









.medicine_info_container,
.suspended-staff-main-container,
.patient_info_container{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    width: calc(100% - 40px);
    padding: 20px 20px 40px 20px;
}
.suspended-staff-main-container{
    justify-content: left;
}
.suspended-staff-container,
.medicine_info_container .info,
.patient_info_container .info{
    width: calc(50% - 40px);
    min-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.medicine_info_container .info .special-card,
.suspended-staff-container .special-card,
.patient_info_container .info .special-card{
    background-color: var(--fg);
    color: var(--bg);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.medicine_info_container .info .special-card h2,
.suspended-staff-container .special-card h2,
.patient_info_container .info .special-card h2{
    color: var(--clr);
}
.medicine_info_container .info .special-card p,
.suspended-staff-container .special-card p,
.patient_info_container .info .special-card p{
    font-size: 35px;
    font-family: poppins-bold;
}
.medicine_info_container .info .special-card button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--clr);
    left: 5px;
    bottom: 5px;
    position: absolute;
}
.medicine_info_container .info .special-card.online::before,
.suspended-staff-container .special-card.online::before,
.patient_info_container .info .special-card.online::before{
    content: attr(data-count);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    z-index: 2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--clr);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fg);
}
.patient_info_container .info.appointments .expanded-info .filters{
    display: flex;
    gap: 10px;
    padding: 5px;
}
.patient_info_container .info.appointments .expanded-info .filters .search{
    width: 100%;
    margin: 0;
    padding: 0px 10px;
}
.patient_info_container .info.appointments .expanded-info .filters .order{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.medicine_info_container .expanded-info,
.suspended-staff-container .expanded-info,
.patient_info_container .expanded-info{
    border: 2px solid var(--clr);
    border-radius: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.medicine_info_container .expanded-info .search,
.suspended-staff-container .expanded-info .search,
.patient_info_container .expanded-info .search{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin: 5px;
    overflow: hidden;
    padding: 0px 10px;
}
.medicine_info_container .expanded-info .search input,
.suspended-staff-container .expanded-info .search input,
.patient_info_container .expanded-info .search input{
    width: 100%;
    background-color: rgb(0, 0, 0);
    outline: none;
    border: none;
    font-size: 17px;
    color: var(--fg);
    padding: 10px;
}
.medicine_info_container .expanded-info .info-cards,
.suspended-staff-container .expanded-info .info-cards,
.patient_info_container .expanded-info .info-cards{
    width: calc(100% - 15px);
    height: 100%;
    padding: 5px;
    overflow: auto;
}
.medicine_info_container .expanded-info .info-cards::-webkit-scrollbar,
.suspended-staff-container .expanded-info .info-cards::-webkit-scrollbar,
.patient_info_container .expanded-info .info-cards::-webkit-scrollbar{
    width: 15px;
}
.medicine_info_container .expanded-info .info-cards::-webkit-scrollbar-track,
.suspended-staff-container .expanded-info .info-cards::-webkit-scrollbar-track,
.patient_info_container .expanded-info .info-cards::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--fg);
}
.medicine_info_container .expanded-info .info-cards::-webkit-scrollbar-thumb,
.suspended-staff-container .expanded-info .info-cards::-webkit-scrollbar-thumb,
.patient_info_container .expanded-info .info-cards::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--clr);
}
.medicine_info_container .expanded-info .info-elem,
.patient_info_container .expanded-info .info-elem{
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid var(--clr);    
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.medicine_info_container .expanded-info .info-elem::before,
.patient_info_container .expanded-info .info-elem::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    border-radius: 5px;
    scale: 0;
    z-index: -1;
    transition: 0.5s;
}
.medicine_info_container .expanded-info .info-elem:hover::before,
.patient_info_container .expanded-info .info-elem:hover::before{
    scale: 1;
}
.medicine_info_container .expanded-info .info-elem div,
.patient_info_container .expanded-info .info-elem div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.patient_info_container .expanded-info .info-elem:has(span) div{
    width: calc(100% - 50px);
}
.medicine_info_container .expanded-info .info-elem div *,
.patient_info_container .expanded-info .info-elem div *{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.patient_info_container .expanded-info .info-elem span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--clr);
    display: flex;
    align-items: center;
    justify-content: center;
}









.dialog .add-new-medicine-dialog{
    position: relative;
    min-width: 260px;
    width: 40%;
    height: 450px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
}
.dialog .add-new-medicine-dialog.show{
    display: flex;
    animation: dialog-anim 0.5s linear forwards;
}
.dialog .add-new-medicine-dialog .form::-webkit-scrollbar{
    width: 15px;
}
.dialog .add-new-medicine-dialog .form::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--fg);
}
.dialog .add-new-medicine-dialog .form::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--neon-pink);
}
.dialog .add-new-medicine-dialog .form{
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    overflow: auto;
    padding: 20px 5px 5px 5px;
    scroll-behavior: smooth;
}
.dialog .add-new-medicine-dialog .form .multi-input{
    display: flex;
    gap: 20px;
    align-items: baseline;
}
.dialog .add-new-medicine-dialog .form .multi-input label{
    white-space: nowrap;
    font-size: 18px;
}
.dialog .add-new-medicine-dialog .controls,
.dialog .edit-medicine-dialog .controls{
    width: 100%;
}











.dialog .suspend-confirmation-dialog{
    position: relative;
    width: 280px;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.dialog .suspend-confirmation-dialog.show{
    display: flex;
    animation: dialog-anim 0.5s linear forwards;
}
.dialog .suspend-confirmation-dialog h2,
.dialog .suspend-confirmation-dialog p{
    text-align: center;
}
.dialog .suspend-confirmation-dialog .controls{
    width: 100%;
}











.dialog .edit-medicine-dialog{
    position: relative;
    min-width: 260px;
    width: 40%;
    height: 450px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
}
.dialog .edit-medicine-dialog.show{
    display: flex;
    animation: dialog-anim 0.5s linear forwards;
}
.dialog .edit-medicine-dialog .form::-webkit-scrollbar{
    width: 15px;
}
.dialog .edit-medicine-dialog .form::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--fg);
}
.dialog .edit-medicine-dialog .form::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--neon-pink);
}
.dialog .edit-medicine-dialog .data{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 17px;
    margin-bottom: -20px;
}
.dialog .edit-medicine-dialog .form{
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    overflow: auto;
    padding: 20px 5px 5px 5px;
    scroll-behavior: smooth;
    border: 2px solid var(--neon-blue);
    border-radius: 10px;
    margin-bottom: 10px;
}
.dialog .edit-medicine-dialog .form .multi-input{
    display: flex;
    gap: 20px;
    align-items: baseline;
}
.dialog .edit-medicine-dialog .form .multi-input label{
    white-space: nowrap;
    font-size: 18px;
}












.download-report{
    display: flex;
    width: calc(100% - 160px);
    gap: 10px;
    margin-left: 30px;
    background-color: black;
    padding: 40px 50px 30px 50px;
    border-radius: 10px;
}
.download-report button{
    width: 200px;
}











.dialog .update-staff-dialog,
.dialog .add-new-dialog{
    position: relative;
    min-width: 280px;
    width: 50%;
    max-height: 90vh;
    padding: 20px 0px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    display: none;
    flex-direction: column;
    align-self: center;
    opacity: 0;
    text-align: center;
}
.dialog .update-staff-dialog .container::-webkit-scrollbar,
.dialog .add-new-dialog .container::-webkit-scrollbar{
    width: 15px;
}
.dialog .update-staff-dialog .container::-webkit-scrollbar-track,
.dialog .add-new-dialog .container::-webkit-scrollbar-track{
    background-color: lightgray;
    border-radius: 10px;
}
.dialog .update-staff-dialog .container::-webkit-scrollbar-thumb,
.dialog .add-new-dialog .container::-webkit-scrollbar-thumb{
    background-color: var(--neon-pink);
    border-radius: 10px;
}
.dialog .update-staff-dialog .container,
.dialog .add-new-dialog .container{
    overflow-y: auto;
    padding: 30px 20px 0px 20px;
    margin-bottom: 10px;
    scroll-behavior: smooth;
}
.dialog .update-staff-dialog.show,
.dialog .add-new-dialog.show{
    display: flex;
    animation: add-new-dialog-anim 0.5s linear forwards;
}
.dialog .update-staff-dialog h2,
.dialog .add-new-dialog h2{
    margin-bottom: 10px;
}
.dialog .update-staff-dialog .controls,
.dialog .add-new-dialog .controls{
    padding: 0px 20px;
}
.dialog .update-staff-dialog .input label[name='username']{
    padding: 10px;
    text-align: left;
    width: calc(100% - 20px);
    display: block;
    background-color: var(--fg);
    border-radius: 10px;
    color: var(--bg);
    font-family: poppins-bold;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes add-new-dialog-anim {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }to{
        opacity: 1;
        transform: translateY(10px);
    }
}










.update_test_dialog,
.add_new_test_dialog{
    position: relative;
    width: 280px;
    height: 340px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    display: none;
    flex-direction: column;
    text-align: center;
}
.update_test_dialog.show,
.add_new_test_dialog.show{
    display: flex;
    animation: dialog-anim 0.5s linear forwards;
}
.update_test_dialog .test-name{
    background-color: var(--fg);
    width: calc(100% - 20px);
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    color: var(--bg);
    font-size: 18px;
    font-family: poppins-bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.add_new_test_dialog .input:has(input[name='test-name']){
    margin-top: 30px;
}










.add_new_medicine_type_dialog{
    position: relative;
    width: 280px;
    height: 260px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    display: none;
    flex-direction: column;
    text-align: center;
}
.add_new_medicine_type_dialog.show{
    display: flex;
    animation: dialog-anim 0.5s linear forwards;
}
.add_new_medicine_type_dialog .form{
    margin-top: 30px;
}









.dialog .upload_file_dialog{
    position: relative;
    width: 280px;
    height: 220px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
}
.dialog .upload_file_dialog.show{
    display: flex;
    animation: dialog-anim 0.5s linear forwards;
}
.dialog .upload_file_dialog .upload_file{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    overflow: hidden;
}
.dialog .upload_file_dialog .upload_file input{
    position: absolute;
    scale: 10;
    cursor: pointer;
    opacity: 0;
}
.dialog .upload_file_dialog .controls{
    width: 100%;
}
.dialog .upload_file_dialog .controls button{
    margin-top: 20px;
}











@media (max-width: 1100px) {
    .cards{
        display: grid;
        grid-template-areas: 'admin doctor receptionist'
                            'pharmacist lhv nurse';
        justify-content:center;
        transform: translateY(25%);    
    }
    .cards .card{
        grid-area: var(--area-name);
        width: 170px;
    }    
}
@media (max-width:950px){
    .side-by-side{
        flex-direction: column;
        gap: 0px;
    }
}
@media (max-width:700px) {
    .cards{
        grid-template-areas: 'admin doctor' 'receptionist pharmacist' 'lhv nurse';
        margin-top: -100px;
        margin-bottom: 120px;
    }
    .cards .card{
        width: 200px;
    }
    .main-container,
    .medicine_info_container,
    .patient_info_container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
    }
    .medicine_info_container,
    .patient_info_container{
        margin-top: 50px;
    }
    .main-container .offline-users,
    .main-container .online-users,
    .medicine_info_container .info,
    .patient_info_container .info{
        width: 90%;
    }  
    .download-report{
        flex-direction: column;
        gap: 30px;
    }  
    .download-report button{
        width: 100%;
    }
}
@media (max-width:650px){
    .dialog .add-new-dialog .controls{
        flex-wrap: wrap-reverse;
    }
}
@media(max-width: 600px){
    .personal-navigation{
        justify-content: center;
    }
    .personal-navigation div:nth-child(2){
        width: 100%;
        justify-content: flex-end;
    }
}
@media (max-width: 560px) {
    .cards{
        display: flex;
        flex-wrap: wrap;
        transform: translateY(10%);    
    }
    .cards .card{
        width: 250px;
    }
}